.headerTopWrap{border-bottom:1px solid #dcdcdc;margin-bottom: 16px;}
.headerTop{width: 980px;margin: 0 auto;}

.topMenu ul{float: right;}
.topMenu li{float: left;position: relative;}
.topMenu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.topMenu li:last-child:after{display:none;}
.topMenu li a{display: block;padding: 7px 10px;font-size: 12px;line-height: 12px;}

#headerWrap h1{margin: 0 auto;width: 151px;
}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{
    width: 48px;height: 48px;
    border:1px solid #cdcdcd;
    position: absolute;
    left: calc ( 50% + ( 980px / 2 ) - 48px );
    top: 38px;
    cursor: pointer;

}

.toggle div{
    width: 21px;height: 2px;background-color: #666;
    position: absolute;left: calc ( 50% - 10px );
    top:calc( 50% - 1px )
}
.toggle div:first-child{ top:calc( 50% - 9px )}
.toggle div:last-child{top:calc( 50% + 7px )}

.headerWrap02{background-color: #1D5DA4;}
.headersub{width: 980px;margin: 0 auto;}

.headersub li{float: left;width: calc( 100% / 6); 
    border-left: 1px solid #336DAC;

}
.headerWrap02 li a{color: white; text-align: center;font-size: 15px;display: block;line-height: 46px;}
.headersub li:last-child{border-right: 1px solid #336DAC;}

.headerWrap02 .headersub li a:hover{background-color:white;color: #333;}

.visualWrap{
    /* background-image: url(../images/main_bg01.jpg);
    /* background-repeat: no-repeat;
    background-position: center;
    background-color: #213C6B; */
    background:#213C6B url(../images/main_bg01.jpg) no-repeat center

}
.visualWrap .visual{width: 980px;margin: 0 auto;height: 400px;
    position: relative;overflow: hidden;}
.visualWrap .visual .txt{position: absolute;top: 100px;color:#E2E2E2;font-size: 20px;}   
.visualWrap .visual h3{font-size: 76.6px;line-height: 80px; margin-bottom: 10px;
    letter-spacing: 0.34em;}
.visualWrap .visual img{position: absolute; right: 0;}

.banWrap{background-color: #eee;margin-bottom: 25px;}
.banWrap .banner{width: 980px;margin: 0 auto; text-align: center;color: #fff;}
.banWrap .banner li{width: calc( 100% / 5 );background-color: skyblue; height: 196px;
padding-top: 14px;float: left;}
.banWrap .banner h3{font-size: 19px; letter-spacing: -7.5%;margin-bottom: 16px;line-height: 19px;}
.banWrap .banner p{font-size: 14px; letter-spacing: -5.5%;line-height: 14px}
.banWrap .banner img{margin: 0 auto;margin-bottom: 16px;}

.banWrap .banner li:nth-child(1){background-color: #7C99B9;}
.banWrap .banner li:nth-child(2){background-color: #4F74A1;}
.banWrap .banner li:nth-child(3){background-color: #4B8CE0;}
.banWrap .banner li:nth-child(4){background-color: #3DB5F2;}
.banWrap .banner li:nth-child(5){background-color: #95C8FF;}

.container{width: 980px;margin: 0 auto;}
.container.sec01{margin-bottom: 25px;}
.container.sec01 li,.container.sec02 li{width: calc((  100% - 50px ) / 3);margin-right: 25px;float: left;}
.container.sec01 li:last-child,.container.sec02 li:last-child{margin-right: 0;}


.container.sec01 li img{width: 100%;;}
.container.sec01 li .txt{padding:20px 16px; border: 1px solid #E1E1E1;
    border-top: 0;color: #414141;

}
.container.sec01 li .txt h3{font-size: 19px; letter-spacing: -7.5%;
    line-height: 19px;margin-bottom: 10px;}
.container.sec01 li .txt p{font-size: 14px; ;line-height: 20px;letter-spacing: -5.5%}

.container.sec02{margin-bottom: 25px;}

.container.sec02 img{position: absolute; right: -20px; top: 10px;}
.container.sec02 li{
    border: 1px solid #e1e1e1;
    padding: 20px 16px;position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 140px 5px;
}
.container.sec02 .txt{width: 140px; position: relative;}
.container.sec02 .txt h3{margin-bottom: 15px;}
.container.sec02 .txt p{margin-bottom: 10px;}
.container.sec02 .txt .btn{color: #4A8CE2; font-weight: bold;}


@media screen and (max-width:720px){
    #headerWrap .center{width: 100%;}
    .headerTopWrap{display: none;}
    #headerWrap .toggle{top: 16px;right: 16px;}
    .headerWrap02{display:none;}

        /* visual  */
    .visualWrap .visual{width: 100%;height:350px;}
    .visualWrap .visual .txt{left: 16px;top: 30px;}
    .visualWrap .visual h3{font-size: 50px;line-height: 60px;}
    .visualWrap .visual img{width: 300px;bottom: -50px;right:-40px;}

    /* banner wrap  */
    .banWrap .banner{width: 100%;}
    .banWrap .banner li{width: 50%; position: relative;
        padding: 20px 20px 20px 70px;text-align: left; 
        height: initial;overflow: hidden;}
    .banWrap .banner li img{opacity: 0.5;
        position: absolute;left: 0;}
    .banWrap .banner li:last-child{
        width: 100%;}

    /* container      */
    .container{width: 100%;padding: 0 16px;}
    .container.sec01 li,.container.sec02 li{width: calc(( 100% - 20px ) / 2);
        margin-right: 20px;position: relative;}
    .container.sec01 li:nth-child(3)
    ,.container.sec02 li:nth-child(3){margin-right: 0;}
    .container.sec01 li:nth-child(2)
    ,.container.sec02 li:nth-child(2){display: none;}

    .container.sec01 li .txt{
        position: absolute;bottom: 16px;left: 16px;
        border: 0 none;padding: 0;color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    .container.sec01 li .txt p{display: none;}
    


}