@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

/* header  */
.headerTopWrap{border-bottom:1px solid #dcdcdc;margin-bottom: 16px;}
.headerTop{width: 980px;margin: 0 auto;}

.topMenu ul{float: right;}
.topMenu li{float: left;position: relative;}
.topMenu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.topMenu li:last-child:after{display:none;}
.topMenu li a{display: block;padding: 7px 10px;font-size: 12px;line-height: 12px;}

#headerWrap h1{margin: 0 auto;width: 151px;
}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{
    width: 48px;height: 48px;
    border:1px solid #cdcdcd;
    position: absolute;
    left: calc ( 50% + ( 980px / 2 ) - 48px );
    top: 38px;
    cursor: pointer;

}

.toggle div{
    width: 21px;height: 2px;background-color: #666;
    position: absolute;left: calc ( 50% - 10px );
    top:calc( 50% - 1px )
}
.toggle div:first-child{ top:calc( 50% - 9px )}
.toggle div:last-child{top:calc( 50% + 7px )}

.headerWrap02{background-color: #1D5DA4;height: 46px;}
.headersub{width: 980px;margin: 0 auto;}

.headersub li{float: left;width: calc( 100% / 6); 
    border-left: 1px solid #336DAC;

}
.headerWrap02 li a{color: white; text-align: center;font-size: 15px;display: block;line-height: 46px;}
.headersub li:last-child{border-right: 1px solid #336DAC;}

.headerWrap02 .headersub li a:hover{background-color:white;color: #333;}

.visualWrap{
    /* background-image: url(../images/main_bg01.jpg);
    /* background-repeat: no-repeat;
    background-position: center;
    background-color: #213C6B; */
    background:#213C6B url(../images/main_bg01.jpg) no-repeat center

}
.visualWrap .visual{width: 980px;margin: 0 auto;height: 400px;
    position: relative;overflow: hidden;}
.visualWrap .visual .txt{position: absolute;top: 100px;color:#E2E2E2;font-size: 20px;}   
.visualWrap .visual h3{font-size: 76.6px;line-height: 80px; margin-bottom: 10px;
    letter-spacing: 0.34em;}
.visualWrap .visual img{position: absolute; right: 0;}

.box{height: 300px;background-color: red;}

/* banWrap  */
.banWrap{background-color: #eee;margin-bottom: 20px;}
.banWrap .banner{width: 980px;margin: 0 auto; text-align: center;}
.banWrap .banner li{width: calc( 100% / 5 );background-color: skyblue; height: 196px;
padding-top: 19px;float: left;}
.banWrap .banner h3{font-size: 19px; letter-spacing: -7.5%;margin-bottom: 16px;line-height: 19px;}
.banWrap .banner p{font-size: 14px; letter-spacing: -5.5%;line-height: 14px}
.banWrap .banner img{margin: 0 auto;}

.banWrap .banner li:nth-child(1){background-color: #7C99B9;}
.banWrap .banner li:nth-child(2){background-color: #4F74A1;}
.banWrap .banner li:nth-child(3){background-color: #4B8CE0;}
.banWrap .banner li:nth-child(4){background-color: #3DB5F2;}
.banWrap .banner li:nth-child(5){background-color: #95C8FF;}

.container{width: 980px;margin: 0 auto;}
.sec01{margin-bottom: 25px;}
.sec01 li, .sec02 li{width: calc((  100% - 50px ) / 3);margin-right: 25px;float: left;}
.sec01 li:last-child,.sec02 li:last-child{margin-right: 0;}


.container .sec01 li img{width: 100%;;}
.container .sec01 li .txt{padding: 16px; border: 1px solid #E5E5E5;
    border-top: 0;color: #414141;

}
.container .sec01 li .txt h3{font-size: 19px; letter-spacing: -7.5%;margin-bottom: 16px;
    line-height: 19px;margin-bottom: 10px;}
.container .sec01 li .txt p{font-size: 14px; ;line-height: 14px}

.container.sec02 img{position: absolute; right: -25px; top: 10px;}
.container.sec02 li{
    border: 1px solid #e1e1e1;
    padding: 16px;position: relative;
    overflow: hidden;
}
.container.sec02 .txt{width: 140px; position: relative;}
.container.sec02 .txt h3{margin-bottom: 15px;}
.container.sec02 .txt p{margin-bottom: 10px;}
.container.sec02 .txt .btn{color: #4A8CE2; font-weight: bold;}

/* .footerWrap{}
.footerWrap .footerTop{background-color: #777777;}
.footerWrap .container{width: 980px;margin: 0 auto;}
.footerWrap .footerTop .container{height: 35px;}
.footerWrap .footerTop .container .ftNav{color: #CCCCCC;}
.footerWrap .footerTop .container li{
    float: left; font-size: 12px; line-height: 35px;position: relative;padding: 0 19px;
}
.footerWrap .footerTop .container li:after{display: block;content: "";width: 1px;height: 12px;
    background-color: #cccccc;position: absolute;left: -1px;bottom: 12px;}
.footerWrap .footerTop .container li:first-child::after{display: none;}
    
.footerTop .container .topMove{float: right;color: #404040;width: 58px;height: 43px;}

.footerWrap .ftBottom{background-color: #949494;height: 104px;}
.footerWrap .ftBottom .logo{float: left; color: #FFFFFF;font-size: 21px;
    font-weight: bold;line-height: 104px;margin-right: 60px;}
.footerWrap .ftBottom .addr{color: #E5E5E5;font-size: 12px;font-weight: lighter;background-color: #336DAC;}
.footerWrap .ftBottom .addr h6{font-weight: lighter;} */

/* footer  */
.footerWrap{background-color: #5e5e5e;}
.footerTop{background-color: #4D4D4D;}
.container.footer .ftNav{float: left;}
.container.footer .topMove{float: right ;width: 60px;height: 45px;background-color: #404040;}
.ftNav li{float: left;position: relative;} 
.ftNav li:after{content: "";display: block;width: 1px;height: 13px;
    background-color: #ccc;position: absolute;right: 0;top: 17px;} 
 .ftNav li:last-child:after{display: none;}   
 .ftNav li:first-child a{padding-left: 0;}   

.ftNav li a{display: block;padding: 16px 18px;font-size: 13px;
    line-height: 13px;color: #ccc;
} 
.container.footer .topMove{float: right;}
.container.footer .topMove a{display: block;line-height: 45px;padding-top: 11px;}
.container.footer .topMove a img{margin: 0 auto;}
.container.ftBottom{padding: 20px 0;}

.container.ftBottom div{float: left;font-size: 13px;color: #ccc;}
.container.ftBottom div .logo{width: 100px;height: 150px;text-align: center;line-height: 100px;}
.container.ftBottom div .addr{padding: 20px 0;}


